<div> 
    <head>
        <meta charset="utf-8">
        <title>RiskBazaar | peer-to-peer risk contracts marketplace powered by the Blockchain</title>
        <meta name="description" content="Engage in a peer-to-peer risk contracts marketplace powered by the Blockchain">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/> -->
        <!-- <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all"/> -->
        <!-- <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/> -->
        <!-- <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/> -->
        <!-- <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/> -->
        <!-- <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/> -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-aquatica.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <!-- // <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script> -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic" rel="stylesheet" type="text/css">
        <style type="text/css">
        	p{
        		width:80%;
        		margin-left: 9%;
        		font-size: 17px;
        		line-height: 1.6;
        	}
        	h5{
        		margin-left: 9%;
        	}
        	hr{ 
				height: 10px;
				border: 0;
				box-shadow: 0 10px 10px -10px #8c8b8b inset;
        	}
        </style>
    </head>

    <div ng-controller="landingController">

<!--     	  <div id="myModal" class="modal fade" tabindex="-6" role="dialog">
			  <div class="modal-dialog" style="margin-right:40%;">
			    <div class="modal-content" style="margin-right:40%;">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">×</button>
			        <h4 class="">Stay up to date with the latest RiskBazaar news</h4>
			      </div>
			      <div class="modal-body">
			        <form role="form">
			          <div class="form-group">
			            <label for="exampleInputEmail1">Email address</label>
			            <input type="email" class="form-control" id="exampleInputEmail1" ng-model="update_form.email" placeholder="Enter your email address...">
			          </div>
			          <button type="submit" class="btn btn-default" ng-click="Update()">Submit</button>
			          <p id="update-sent" style="color:white;padding:8px;border-radius:5px;margin-top:1%;text-align:center">Email Successfully sent!</p>
			        </form>
			      </div>
			    </div>
			  </div>
			</div> -->

			<script type="text/javascript">
				// $('#openBtn').click(function(){
				// 	$('#myModal').modal({show:true})
				// });
			</script>


		<!-- ****************************************** -->
		<!-- *******          HEADER NAV       ******** -->
		<!-- ****************************************** -->		
		<div class="nav-container">
			<nav class="simple-bar top-bar">
				<div class="container">
				
					<div class="row nav-menu">
						<div class="col-md-3 col-sm-3 columns">
							<a href="#/"><img class="logo logo-dark" alt="RiskBazaar Logo" src="img/logo.png"></a>
						</div>
					
						<div class="col-md-9 col-sm-9 columns text-right" align="top">
							<ul class="menu">
								<li style="padding-top:20px;"><a href="#/">Homepage</a></li>
								<li style="padding-top:20px;"><a href="https://github.com/riskbazaar" target="_new">Documentation</a></li>
								<li style="padding-top:20px;"><a href="https://medium.com/@RiskBazaar" target="_new">Medium Blog</a></li>
								<!-- <button class="btn btn-primary" id="openBtn">Stay Updated</button> -->

							</ul>
		
							<ul class="social-icons text-right" align="top" style="margin-top:2%;">
								<!-- github -->
								<li>
									<a href="https://github.com/RiskBazaar/" target="_new">
										<img src="img/icon_github.png" width="25" align="bottom"></i>
									</a>
								</li>

								<!-- twitter -->
								<li>
									<a href="https://twitter.com/riskbazaar" target="_new">
										<img src="img/icon_twitter.png" width="25" align="bottom"></i>
									</a>
								</li>

								<!-- slack -->
								<!-- <li>
									<a href="#" target="_new">
										<img src="img/icon_slack2.png" width="17" align="bottom"></i>
									</a>
								</li> -->

								<!-- <li>
									<a href="#" target="_new">
										<img src="img/icon_medium.min.png" width="19" align="bottom"></i>
									</a>
								</li> -->
							
								<!-- facebook -->
								<li>
									<a href="https://www.facebook.com/riskbazaar/" target="_new">
										<img src="img/icon_facebook.png" width="24" align="bottom"></i>
									</a>
								</li>
							
								<li>
									<a href="https://www.youtube.com/channel/UCeiOUJlYnPMHf_fMPQCH9aA" target="_new">
										<img src="img/icon_youtube.png" width="25" align="bottom"></i>
									</a>
								</li>


<!-- 								<li>
									<a href="https://plus.google.com/+RiskBazaar" target="_new">
										<img src="img/icon_googleplus.png" width="18" align="bottom"></i>
									</a>
								</li> -->

								<li>
									<a href="https://www.reddit.com/r/riskbazaar" target="_new">
										<img src="img/icon_reddit.png" width="25" align="bottom"></i>
									</a>
								</li>

							</ul>
						</div>
					</div>
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div>
			</nav>


		
		</div>




		<div style="margin-left:10%; margin-right:10%;padding-top:250px">

			<hr class="hr-style">
			<h1 style="margin-bottom:0px;display:inline-block;width:60%;margin-left:9%;"><b> Building a Risk Market for the Digital Age </b></h1>

			<p style="margin-bottom:0px;">Published 17th August 2015</p>
			<p><em>Last edited January 2016</em></p>
			<button style="margin-left:9%;display:block"><a href="../RiskBazaar_whitepaper.pdf" download>Download PDF Version</a></button>
			<button style="margin-left:9%;display:block"><a href="../RiskBazaar_whitepaper_v2.pdf" download>Download PDF Version</a></button>
			<br><br>


		</div>

		<div class="footer-container">

			<footer class="details">
				<div class="container">
					<div class="row">

						<div class="col-sm-4">
							<ul class="social-icons">
								<!-- github -->
								<li>
									<a href="https://github.com/RiskBazaar/" target="_new">
										<img src="img/icon_github.png" width="25" align="bottom"></i>
									</a>
								</li>

								<li>
									<a href="https://twitter.com/RiskBazaar" target="_new">
										<!-- <i class="icon social_twitter"></i> -->
										<img src="img/icon_twitter_social.png" width="25" align="bottom"></i>
									</a>
								</li>


								<!-- slack -->
								<!-- <li>
									<a href="#" target="_new">
										<img src="img/icon_slack2.png" width="17" align="bottom"></i>
									</a>
								</li> -->
							
								<!-- facebook -->
								<li>
									<a href="https://www.facebook.com/riskbazaar/" target="_new">
										<img src="img/icon_facebook.png" width="24" align="bottom"></i>
									</a>
								</li>
							
								<li>
									<a href="https://www.youtube.com/channel/UCeiOUJlYnPMHf_fMPQCH9aA" target="_new">
										<img src="img/icon_youtube.png" width="25" align="bottom"></i>
									</a>
								</li>


<!-- 								<li>
									<a href="https://plus.google.com/+RiskBazaar" target="_new">
										<img src="img/icon_googleplus.png" width="18" align="bottom"></i>
									</a>
								</li> -->

								<li>
									<a href="https://www.reddit.com/r/riskbazaar" target="_new">
										<img src="img/icon_reddit.png" width="25" align="bottom"></i>
									</a>
								</li>
								

							</ul>
						</div>

						<div class="col-sm-3" style="float:right;" align="top">
							<span class="sub" style="margin-top:0px;width:280px;">© Copright 2016 <a href="#">RiskBazaar</a> - All Rights Reserved</span>
						</div>


					</div>
					
				</div>
			</footer>

		</div>
</div>

</div>